<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css" />
    <title>Верстка без блока .container</title>
  </head>
  <body>
    <div class="container">

      <header class="header">
        <div class="header__logo">logo</div>
        <nav class="header__nav nav">
          <ul class="nav__ul">
            <li class="nav-ul-li"><a href="#!" class="nav-ul-li-link">Раз ссылка</a></li>
            <li class="nav-ul-li"><a href="#!" class="nav-ul-li-link">Два ссылка</a></li>
            <li class="nav-ul-li"><a href="#!" class="nav-ul-li-link">Три ссылка</a></li>
            <li class="nav-ul-li"><a href="#!" class="nav-ul-li-link">Четыре ссылка</a></li>
          </ul>
        </nav>
        <div class="header__form-input">login</div>
      </header>

      <div class="main">

        <aside class="main__aside">
          <section class="main__aside-section">
            <img class="main__aside-section-image" src="./five-point_star.svg" alt="Image" />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eaque ipsa quibusdam blanditiis voluptas
              eligendi, id, accusantium quam vitae optio quaerat voluptates temporibus, ex recusandae earum praesentium expedita
              excepturi iure?
            </p>
          </section>
        </aside>
        
        <div class="content">
          <article class="content__article">
            <h1>Lorem ipsum</h1>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum odio nam esse! Recusandae atque aut neque quaerat
              doloremque dolorum ad a ullam? Blanditiis perspiciatis nisi rerum officia magni? Error, quod?
            </p>
          </article>
        </div>
      </div>

      <footer class="footer">
        <nav class="footer__nav nav">
          <ul class="nav__ul">
            <li class="nav-ul-li"><a href="#!" class="nav-ul-li-link">Раз ссылка</a></li>
            <li class="nav-ul-li"><a href="#!" class="nav-ul-li-link">Два ссылка</a></li>
            <li class="nav-ul-li"><a href="#!" class="nav-ul-li-link">Три ссылка</a></li>
            <li class="nav-ul-li"><a href="#!" class="nav-ul-li-link">Четыре ссылка</a></li>
          </ul>
        </nav>
      </footer>

    </div>
  </body>
</html>
